@model DWP2.Models.Order_Items

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Order_Items</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ITEM_ID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ITEM_ID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Products)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Products.PRODUCT_NAME)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.QUANTITY)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.QUANTITY)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UNIT_PRICE)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UNIT_PRICE)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ORDER_ID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
