@model DWP2.Models.Employees

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Employees</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FIRST_NAME)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FIRST_NAME)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LAST_NAME)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LAST_NAME)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EMAIL)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EMAIL)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PHONE)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PHONE)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HIRE_DATE)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HIRE_DATE)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MANAGER_ID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MANAGER_ID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.JOB_TITLE)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.JOB_TITLE)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.EMPLOYEE_ID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
