@model IEnumerable<DWP2.Models.Inventories>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Products)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Warehouses)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.QUANTITY)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Products.PRODUCT_NAME)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Warehouses.WAREHOUSE_NAME)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.QUANTITY)
            </td>
        </tr>
}
    </tbody>
</table>
