@model DWP2.Models.Products

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Products</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PRODUCT_NAME)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PRODUCT_NAME)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DESCRIPTION)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DESCRIPTION)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.STANDARD_COST)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.STANDARD_COST)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LIST_PRICE)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LIST_PRICE)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Product_Categories)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Product_Categories.CATEGORY_NAME)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.PRODUCT_ID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
