@model IEnumerable<DWP2.Models.Countries>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.COUNTRY_NAME)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Regions)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.COUNTRY_NAME)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Regions.REGION_NAME)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.COUNTRY_ID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.COUNTRY_ID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.COUNTRY_ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
